
.view-animate-container {
  position:relative;
  /*height:100px!important;*/
  background:white;
  
  /*height:40px;*/
  /*overflow:hidden;*/
}

.view-animate {
  /*padding:10px;*/
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  display:block;
  width:100%;
/*  border-left:1px solid black;*/

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  /*padding:10px;*/}


  .view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}

//idea//

.ng-enter {	
	transition: 0.3s;
	opacity:1;
	transform: scale(0);
	/*width: 0%;*/
	/*margin-left: -90%;*/
	/*transition-timing-function: ease-in;*/
}

.ng-enter-active {
	opacity:1;
	/*width: 30%;*/
	transform: scale(1);
	margin-left:0;

}
	
.ng-leave {
	transition: 0.3s;
	opacity:1;
}

.ng-leave-active {
	opacity: 0;
  transition: 0.3s;
}

.idea.ng-enter {  
  height:0px;
}

//pin-boxs//

.pin-box.ng-enter {  
  transition: 0.3s;
  opacity:1;
  transform: scale(0);
  /*width: 0%;*/
  /*margin-left: -90%;*/
  /*transition-timing-function: ease-in;*/
}

.pin-box.ng-enter-active {
  opacity:1;
  /*width: 30%;*/
  transform: scale(1);
  margin-left:0;

}
  
.pin-box.ng-leave {
  transition: 0.3s;
  opacity:1;
}

.pin-box.ng-leave-active {
  opacity: 0;
}


//keyframe//

@-webkit-keyframes enter {
  0%   { margin-left: -10%; opacity: 1;}
  100% { margin-left: 5%; opacity: 1.0; }
}