body {
	background-color: #e8e8e8;
	/*background-color: #E3E3E3;*/
}

header {
position: fixed;
height: 40px;
  background: #00b7ff;
  width: 90%;
  margin: 0;
  display: block;
  padding: 5px 5%;
  text-align: center;
  /*border-bottom: 1px solid #DEDEDE;*/
  z-index: 5;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

header h1 {
	margin-top:2px;
}

.nav-button {
	width: 20px;
	height: 20px;
	float: left;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 20px;
	/* background-color: white; */
	border: none;
	padding: 5px;
	position: absolute;
	top:10px;
}

.nav-button img {
	width: 20px;
}

.pullout {
  width: 140px;
  height: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  left: -140px;
  /*padding: 30px;*/
  text-align: left;
  transition: 0.3s;
  /*border:none;*/
  border: solid 1px #DEDEDE;
  background: #FAFAFA;
   /*box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);*/
   /*box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.1), 0 3px 5px 0px rgba(0, 0, 0, 0.1);*/
}

.pullout-active {
  width: 140px;
  height: 100%;
  background: #FAFAFA;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0px;
  text-align: left;
  transition: 0.3s;
  /*border-right: 1px solid #DEDEDE;*/
}

.pullout-cover {
	display:none;
	height:100%;
	width:100%;
	z-index:3;
	position:fixed;
	opacity:0;
}

.pullout-cover-active {
	display:block;
}

.pullout-head {
	width:100%;
	height:50px;
	background: white;
	/*border: 1px solid #dedede;*/
	  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pullout a {
	display: block;
	float:none;
	padding: 10px 30px;
}

.button {
	font-size:14px;
	padding:0.5em;
	margin: 1em;
	border: 1px solid #dedede;
}

.add-button {
	float:right;
	position:absolute;
	right:5%;
	top:15px;
	/*border: 1px solid white;
	padding:5px;*/
}

.add-button a {
	color: white !important;
}

.add-button a img {
	width:20px;
}

.container {
	top:40px;
	position:absolute;
	width:90%;
	padding: 30px 5%;
	text-align: center;
	left: 0px;

/*	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;*/
}

.wrapper {
	left:0px;
	position:relative;
	transition: 0.3s;
}

.wrapper-pullout {
	left:140px;
	transition: 0.3s;
}

.nav-toggle {
	left:150px;
}

html, body {
	margin:0;
	padding:0;
	font-family: 'Roboto Slab', serif;
}

h1 {
	text-align: center;
	margin: 0;
	font-size:20pt;
	/*color: #454545;*/
	color:white;
}

h2 {
	margin: 0em;
  color: #454545;
  max-height: 35px;
  /*overflow: hidden;*/
  text-align: left;
  font-size:15pt;
}

p {
	margin:0;
	color: #454545;
	font-size:12pt;
}

a, a:visited {
	text-decoration: none;
	color: #454545;
}

ul {
	padding:0;
	
}

li {
	list-style: none;
	text-align: center;
}

.icon {
height: 50px;
  width: 40px;
  float: left;
  /* background: black; */
  margin: 0 10px;
  margin-right: 15px;
  /* padding-right: 15px; */
  border-right: 1px solid #dedede;
  vertical-align: middle;
  padding: 10px 0;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 0;
}

.icon img {
	width:100%;
}

input, textarea {
	font-family: Roboto slab;
	color: #454545;
}

.idea {
	height:101px;
	width:100%;
	background:white;
	padding:20px 5px;
	  padding-right: 10px;
	float:left;
	/*border: 1px solid #DEDEDE;*/
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	position:relative;
  	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  	margin-bottom:1em;
  	transition: 0.5s;
  	overflow:hidden;
}

.idea-full {
height: 80%;
  width: 90%;
  background: white;
  padding: 20px 5px;
  /* border: 1px solid #DEDEDE; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: 0.5s;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
  position: fixed;
  top: 80px;
  left: 5%;
  transition: 0.5s;
  z-index:5;
}

.detail {
max-height: 1.5em;
  overflow: hidden;
}

.idea-swipe {
	/*transform: rotateX(180deg);*/
	transition:0.5s;
	display:block;
}

.idea-swipe .icon {
	border: none;
}

.swiped {
	position: absolute;
  width: 0;
  height: 102px;
  background: #00b7ff;
  margin: -21px -1%;
  text-align:center;
  transition: 0.5s;
  z-index:1;
  left: -440px;
    padding-top: 35px;
    display:block;
}

.swiped-visible {
	z-index:1;
	transition: 0.5s;
	left:1%;
	height:102px;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	width: 100%;
  	padding-top: 35px;
  	  margin: -21px -1%;
}

.swiped img {
height: 30px;
  width: 30px;
  margin: 0 10px;
}

.swiped-hidden {
	display:none;


}

.idea-full p, .idea-full h2{
	display:none;
}

.swiped button {
	position:relative;
	display:inline-block;
	margin-top:40px;
}

.edit {
	display:none;
}

.edit-visible {
	display:block;

}

.edit-visible textarea{
	border:0px;
	resize:none;
}

.title-edit{
	font-size: 18pt;
  font-weight: bold;
  width:90%;
    height: 80px;
}

.detail-edit{
	  font-size: 12pt;
  width: 90%;
  height: 65%;
}

.grid {
	width:50%;
	float:left;
	transition: 0.5s;
	max-height: 100px;
}

li, ul, div {
/*	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;*/
}

div:focus, textarea:focus, input:focus, select:focus, button:focus{
    outline: 0;
}

#back-top {
  float: right;
  width: 35px;
  height: 35px;
  z-index: 3333;
  position: fixed;
  right: 20px;
  text-align: right;
  margin-top: 3px;
}

#back-top-bg {
width: 100%;
height: 100%;
background: black;
margin-left: 6px;
margin-top: 2px;
opacity: 0.5;
border: solid 1px black;
transition: 0.6s;
}
/*
#back-top a:hover > #back-top-bg {
	opacity: 0.5;
	background:none;
	border: solid 1px black;
	transition: 0.3s;
}*/

//Typography//

@font-face {
    font-family: Roboto Slab Bold;
    src: url(fonts/RobotoSlab-Bold.ttf);
}

@font-face {
    font-family: Roboto Slab Light;
    src: url(fonts/RobotoSlab-Light.ttf);
}

@font-face {
    font-family: Roboto Slab;
    src: url(fonts/RobotoSlab-Regular.ttf);
}