<link rel="stylesheet" type="text/css" href="add.css"/>

<div class="container">
<form name="frm" ng-submit="addIdea()">
	<div class="title">
		<input type="text" placeholder="Title" name="newIdea" ng-model="newIdea" required/>
	</div>

	<select class="type-select" name="newImage" ng-model="newImage">
		<option value="" disabled selected>Type</option>
		<option value="img/graphicdesign.png">Graphic Design</option>
		<option value="img/illustration.png">Illustration</option>
		<option value="img/photography.png">Photography</option>
		<option value="img/typography.png">Typography</option>
		<option value="img/video.png">Video</option>
		<option value="img/webdesign.png">Web Design</option>
		<option value="img/projects.png">Misc.</option>
	</select>
	
	<textarea type="text" placeholder="Write here" name="newDetail" ng-model="newDetail">		
	</textarea>
	
	<!-- <label id="label" for="pic"></label> -->

	<button class="top-button" ng-disabled="frm.$invalid">Done</button>

  <a href="#/main"><button>Go Back</button</a>
</form>
</div>