<div class="container">
	<div class="inspiration-box">
      <a href="#/inspiration-film" >
      	<p>Film</p>
      	<img src="img/video.png">
      </a>           
	</div>
	<div class="inspiration-box">
	  <a href="#/inspiration-graphic">
	  	<p>Graphic Design</p>
		<img src="img/graphicdesign.png">
	  </a>
	</div>
	<div class="inspiration-box">
      <a href="#/inspiration-illustration">
      	<p>Illustration</p>
		<img src="img/illustration.png">
	</a>
    </div>
    <div class="inspiration-box">
      <a href="#/inspiration-type">
      	 	<p>Typography</p>
		<img src="img/typography.png"></a>
    </div>
    <div class="inspiration-box">
      <a href="#/inspiration-photography" >
  	 	<p>Photography</p>
		<img src="img/photography.png">
	</a>
    </div>
    <div class="inspiration-box">
      <a href="#/inspiration-web">
      	 	<p>Web Design</p>
		<img src="img/webdesign.png"></a>
    </div>
</div>